<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="DailyContact.DailyContact" android:versionName="0.1" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="16" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="DailyContact" android:icon="@drawable/PSC4wd"></application>
</manifest>